
            h1 {
                color: brown;
            }

           
.header{
    background-color: rgba(128, 51, 0, 0.473);
    display: flex;
    justify-content: space-between;
}

.grid{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}

p,h2{
    text-align: center;

}

.footer{
    display: flex;
    justify-content: flex-end;
}